os: linux
dist: xenial

language: java
jdk:
  - openjdk8
install: true
before_install:
  - chmod +x mvnw

# Improve Build Speed https://dzone.com/articles/travis-ci-tutorial-java-projects
cache:
  directories:
    - $HOME/.m2

addons:
  postgresql: "10"
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10

services:
  - postgresql

before_script:
  - psql -c 'create database testdb;' -U postgres

script:
  - "./mvnw clean install
    -Dspring.datasource.password=
    -Dspring.jpa.show-sql=false
    -Dlogging.level.org.flywaydb=warn
    -Dlogging.level.org.springframework=warn
    -Dlogging.level.org.springframework.test.context.cache=warn
    -Dlogging.level.com.github.springtestdbunit=warn
    -Dlogging.level.org.dbunit.operation=warn
    -Dlogging.level.org.hibernate.sql=error
    -Dlogging.level.org.hibernate.type.descriptor.sql.BasicBinder=error
    -Dlogging.level.org.hibernate.type.EnumType=error"

after_success:
  - bash <(curl -s https://codecov.io/bash)

before_deploy: echo 'ready?'

deploy:
  - provider: s3
    access_key_id: "AKIAXUOEATZJ42KUAEUW"
    secret_access_key:
      secure: "FK56em0EWMHaSIrry43+hSQppZygfiPlzaPFarTWV3qRZj0TJv8v1+f2z9lS0kufz3qckkPUHdZCsUxmXW+tBT7XpA+yzeXI8y6ig/vSQ+Z0+lNf9qbcQ8AUe5USAzxPH/h46NzORb9FxGAP2tFASaYhJqtT1NmOFK3GAOZwBN1y+lQiNu0FeIB6JW53IbiA3rgk8D1HpYslG3rw098F3Vgx3cdaf7wYwlUc8t/Qc28+B5eDQHPpv/PDH3jYCCYVmungsbQDz85WHhuY0TS6DX/PZfTR4DLD/g4sKqPoKLUQ34KNHiGlaSL64IGEM9etrnINTBsdrhqe4hqIbQZX5RRs/SmB7ZSviuWXZKENUatbtA2lM93L2m3j/AfRWv2zi+Y3tVcLRqrRSYIl3h6ypmvhcogkLBVXtVnGNZwOH8Dp4p4kWL/An4znmDzQ/97/u+Nq9eGdjI0Xhjo9Lj3FqnnRXBHIrlRgsBGyXb302j6doyza72KrEQ6wVuxm8HePwquJmliBf70VqdKIw6Q4ym3Pas7CbF8QKVbo+IY9XYlm//xZ8TbmxubdFBBoprUEFmGf6KY1H+494WHwrod0VR2mbHYSZSEPR356GmOU89OQVh58a4523lM1KVRd/rD5fX7Bs1kN1VTXSIX4RLrSogu2yRVm55pRiQ67sJiEWKg="
#    region: "eu-west-2"
    bucket: "kappers.dev"
    skip_cleanup: true
    on:
      branch: feature/deploy-to-aws
#  - provider: elasticbeanstalk
#    access_key_id:
#      secure: T3AR9wCCGNsPdZkPvX+jHdxUHkEdVbuuV4hl9+qxtAkxtenKHYumuvP6gAXCGWhSmX9Tff/rO0j2p8dyMOFUIDsKPoOsPV2L8bsUlYOXn0Ouynfn2XiUQ40u3GUs693BOPQZI7+gTogtC+e+XaL3hc71JyQL1cOQgwjRqS8vSM6wGpKuf9kxz5FNkyBFjTQGriVm8i+mse6WxNK2JNPGknK0jqgQfb1YqZukPm36PfamKELVNXWxc1G6Hkjrk0Z0OpS3FSMYkLCWgdFAEnjwwgabaUTh67TdNkoX052sYqb/55c0/YK2deNJnMpxyAH4S2jPllEFjJimayrgy5dRbuFKNSt0OiPxiM9RJJAH8eV5rsL+qIZw9lMamq0KL3g36bQN2AmMmFEqhhWRnby65kUv52hc8JImnel1CK8mHZ0ED4QwQ8MNZfb6e6w3E2co9e9fimKPQvlRyz8cSS9LSjI3RMmSTniRopRaYMGRUQUrDXu9EAinWbofzh+ecnFoYTLOk6FRlEiHPKcDP2J0fsDIfxdiyfxMQfoOqyvBva4mULc0sf+AasCLnBKDJ77LU5dX9KWV1iuBegxoI3NHdQw87srvU3KQTNWdjwDfheN31OtJTY9CrGxN7lYPFMv3eJpEHux7J2klS5qZfNkezfRnvDMgX9+TGEFcbLvwyrk=
#    secret_access_key:
#      secure: aDT51h1Q5esKYZ3uBgPt26zEVMKnQn8Z0bsKrwPPX4EeUYsGOytMVqHqjgSmdqtxt2JBk2/CUdKW91JfaFCbKi5RFSvjariEN+9IWt6X8v6+b/ExHxjUF6/IF81fMJBEPWD+/J6LD4LFY/yFwQJzYQD8cfaoPLWvVxdqRJbnCpiGBAbL7ovRTvhVyFueMvLUK6ZCvqWeKQ6OYcClQ+EOaTdRxtfmXf4UnBSgE+MG/faeHS6+fIvcRZ6OJmRIlZGRB3+p142M0DTi5Nk1Hhp70eJuhkIz2+r+jIN6IizNnfRmKT0jPspQU4LjTKw7ohpTE//JabYPj9fEKhduR9b401y/j/mRPKad0TX8qeeTeFptP6flvujA2UdnGADjsMJIcjZW/x+z+rD6qOubtU8AQFbWNHpM5jaRtA9nUV8eKsMrXwPVVOvSTpxL2KSNOZGD40F9KRTPh+uOuPUm5Kf8GB5b9K+9gTp1xC+wC9qUAk2y8oZ/SK5JWfgLSTUEMZammK0ts7kbBL8YphBsUPxYFjnhbDv4d5SJJmzeohGJ6sTtPxb9s9EIEw4BEoDdQ7mxUBxxwpIzT0VzEEsdXGHut1xHd/cGdgpBf3rz95yJUjqQBP9+bTzU8u7cc+og95pDgDzSkQO5zx2ZLRfvNky0+vWHXnj5mP+cGA05heMwE5w=
#    region: "eu-west-2"
#    app: "Kappers"
#    env: "Version-A"
#    bucket_name: "kappers.dev"
#    skip_cleanup: true
#    on:
#      branch: feature/deploy-to-aws
#      branch: master
