os: linux
dist: xenial

language: java
jdk:
  - openjdk8
install: true
before_install:
  - chmod +x mvnw

# Improve Build Speed https://dzone.com/articles/travis-ci-tutorial-java-projects
cache:
  directories:
    - $HOME/.m2

addons:
  postgresql: "10"
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10

services:
  - postgresql
  - docker

before_script:
  - psql -c 'create database testdb;' -U postgres

script:
  - "./mvnw clean install -B
    -Dspring.datasource.password=
    -Dspring.jpa.show-sql=false
    -Dlogging.level.org.flywaydb=warn
    -Dlogging.level.org.springframework=warn
    -Dlogging.level.org.springframework.test.context.cache=warn
    -Dlogging.level.com.github.springtestdbunit=warn
    -Dlogging.level.org.dbunit.operation=warn
    -Dlogging.level.org.hibernate.sql=error
    -Dlogging.level.org.hibernate.type.descriptor.sql.BasicBinder=error
    -Dlogging.level.org.hibernate.type.EnumType=error"
  - docker build -t rsuleymanov/kappers:latest .

after_success:
  - bash <(curl -s https://codecov.io/bash)

before_deploy:
  - zip -ur kappers target/kappers.war Procfile .ebextensions
  - docker login -u "$DOCKER_REGISTRY_USER" -p "$DOCKER_REGISTRY_PASS"

deploy:
  - provider: elasticbeanstalk
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    region: "eu-west-2"
    app: "Kappers"
    env: "Version-A"
    bucket_name: "kappers.dev"
    skip_cleanup: true
    zip_file: kappers.zip
    on:
      branch: "master"
#      branch: "feature/deploy-to-aws"
  - provider: script
    script: docker push rsuleymanov/kappers:latest
    on:
      branch: master
#      branch: feature/travis-ci-with-docker